@mixin mq($arg) {
  @media screen and (max-width: $arg) {
    @content;
  }
}

@mixin flex-container {
  display: flex;
}

@mixin text-anim {
  transform: translateY(20px);
  opacity: 0;
}
@mixin card-anim {
  transform: translateY(20px);
  opacity: 0;
}
@mixin blue-back {
  background-color: $primary-blue;
  color: #fff;
  line-height: 1;
  display: flex;
}
@mixin card {
  display: flex;
  align-items: center;
  border-radius: 2px;
  padding: 10px;
}
@mixin covidapp {
  height: 100%;
  width: 100%;
  h1 {
    text-align: center;
    color: rgb(33, 43, 54);
    font-size: 2.5rem;
    font-weight: 500;
  }
  p {
    text-align: center;
    color: darken($primary-blue, $amount: 20);
  }
}
